html(ng-app="arp-logger")
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel="stylesheet", href="css/bootstrap.min.css")
    link(rel="stylesheet", href="angular-material.css")
  body
    block content
    script(src="jquery.min.js")
    script(src="js/bootstrap.min.js")
    script(src="angular.min.js")
    script(src="angular-aria.js")
    script(src="angular-animate.js")
    script(src="angular-material.js")
    script(src="javascripts/app.js")
